/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url('fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.top-pane {
    background-image: url('images/GoBoard.png');
    background-size: cover;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
  }
  
.nav-link:hover, .nav-link:focus, .active {
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
}

.dropdown-menu {
    background-color: #C80000;
    color: white;
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.8);
}

.dropdown-item:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
    background-color: #C80000;
  }

.form-control-sm {
    font-size: 0.7rem;
}

.logo {
    width: 2.5em;
    height: 2.5em;
}

h1 {
    font-size: 1.5rem;
    color: #343a40;
} 

.news-img {
    object-fit: cover;
    width: 5em;
    height: 5em;
}

.event-img {
    object-fit: cover;
    max-height: 8em;
}

.event-body {
    padding: 1.25rem 0.25rem 1.25rem 0.25rem;
}

.news-body {
    padding: 0.75rem;
}

.news-img-top {
    object-fit: cover;
    max-height: 7em;
}

.news-title, .card-text {
    font-size: 0.9rem;
}

.card-text {
    line-height: 1.2em;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  h1 {font-size: 2.5rem;} 
  .logo {width: 3em; height: 3em;}
  .nav-item {margin-right: 1em;}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .logo {width: 3.5em; height: 3.5em;}
  .navbar {padding-left: 2em}
  .nav-item {margin-right: 0.5em;}
  .news-img {width: 4em; height: 4em;}
  .news-title {font-size: 0.8rem}
  .news-body {padding: 1.25rem;}
  .navbar-expand-sm .navbar-nav .nav-link {padding-left: 0.2rem; padding-right: 0.2rem; font-size: 0.8rem}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size: 3.5rem;} 
  .logo {width: 4em; height: 4em;}
  .navbar {padding-left: 3em}
  .nav-item {margin-right: 1em;}
  .news-card {height: 8em;}
  .news-img {width: 5.5em; height: 5.5em;}
  .news-img-top {max-height: 10em}
  .news-title {font-size: 0.9rem}
  .event-img {max-height: 11em;}
  .event-body {padding: 1.25rem;}
  .navbar-expand-sm .navbar-nav .nav-link {padding-left: 1.5rem; padding-right: 1rem; font-size: 1rem}
}

.event-title, .news-title {
    font-weight: bold;
}

.list-group-item {
    padding: 0;
}

.card {
    background-color: #ecedee;
}

.news-author {
    margin: 0 0 0 0 
}

.news-text, .news-author {
    font-size: 0.75em
}

.section-header {
    color: #C80000;
    font-weight: bold;
}

.section-marker {
    background-color: #C80000;
    height: 0.5em;
}

.nav-item {
    font-weight: bold;
}

.more-news-button, .more-events-button {
    height: 2.75em;
    padding: 0.5rem;
    color: white;
    background-color: #C80000
}

.card:hover {
    cursor: pointer;
    background-color: white;
}

.card:hover .card-title, .card:hover .news-title {
    text-decoration: underline;
}

.more-news-button:hover, .more-events-button:hover {
    color: white;
    background-color: rgba(200, 0, 0, 0.7);
}